<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841866151526-m21dduqganha4pvk56sv55of6g7jpbt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841866151526-m21dduqganha4pvk56sv55of6g7jpbt4</string>
	<key>API_KEY</key>
	<string>AIzaSyAS5DTCu1PmIBScS8uMgYgKJaYX4sWTNNE</string>
	<key>GCM_SENDER_ID</key>
	<string>841866151526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rfMajid</string>
	<key>PROJECT_ID</key>
	<string>majidin-27602</string>
	<key>STORAGE_BUCKET</key>
	<string>majidin-27602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841866151526:ios:d0dc7cb8cfbb48fd0e8fa7</string>
</dict>
</plist>